.catalog
	&__wrapper
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	&__item
		width: 50%
		margin-bottom: 20px
		position: relative
	&__more
		margin-top: 40px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center

.catalog-item
	&__name
		position: absolute
		top: 10px
		left: 10px
		+semibold
	&__hover-btns
		display: flex
		position: absolute
		bottom: 0
		right: 15px
		transition: all .3s
		opacity: 0
	&__order-btn
		cursor: pointer
		border: 0
		+semibold
	&__like-btn
		cursor: pointer
		border: 0

.catalog-item--hover .catalog-item__hover-btns
	opacity: 1

.catalog-more
	&__all
	&__subtitle
		font-size: 15px
		margin-top: 18px
		+light
