.catalog
	&__wrapper
		display: flex
		flex-wrap: wrap
		justify-content: space-between
.catalog-item
	width: 50%
	margin-bottom: 20px
	position: relative
	&__name
		position: absolute
		top: 10px
		left: 10px
		+semibold
	&__hover-btns
		display: flex
		position: absolute
		bottom: 0
		right: 15px
	&__order-btn
		cursor: pointer
		+semibold
	&__like-btn
