.discount
	&__wrapper
		background: #ddd url(../img/discount.png) no-repeat right
		background-size: contain
		margin-top: 150px
		padding: 60px 70px
		background-color: #fff
	&__title
		font-size: 25px
		letter-spacing: 0.75 px
		text-transform: uppercase
		+semibold
	&__subtitle
		display: block
		margin-top: 25px
		font-size: 21px
		font-weight: 300
		max-width: 830px
		+regular
	&__form
		margin-top: 45px
	&__private
		font-size: 17px
		margin-left: 45px
		margin-top: 20px
		+regular
