
.header-top
	&__wrapper
		max-height: 80px
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		margin-top: 20px
		padding: 0 15px
		@include _480
			max-height: 120px
	&__nav-btn
	&__logo
		text-align: left
	&__sellphone, &__officephone
		text-align: right
		@include _768
			display: none
	&__name
		display: block
		text-transform: uppercase
		font-size: 18px
		width: 100%
		+semibold
	&__subtitle
		display: block
		font-size: 14px
		color: $metalcolor
		+light
	&__btn
		background-color: transparent
		border: 2px solid $bluecolor
		color: $bluecolor
		text-transform: uppercase
		font-size: 14px
		padding: 15px 10px
		outline: none
		cursor: pointer
		border-radius: 4px
		transition: all .3s
		+semibold
		&:hover
			color: #fff
			background-color: $bluecolor
		@include _480
			width: 100%
			text-align: center
			margin-top: 20px
			font-size: 12px
		@include _350
			display: none

.nav-btn
	position: relative
	width: 40px
	height: 40px
	background-color: transparent
	border: none
	cursor: pointer
	outline: none
	&__span
		position: absolute
		top: 50%
		margin-top: 1.5px
		left: 50%
		margin-left: -12.5px
		width: 25px
		height: 3px
		background-color: $bluecolor
		&::before, &::after
			content: ''
			position: absolute
			top: 50%
			margin-top: -1.5px
			left: 50%
			margin-left: -12.5px
			width: 25px
			height: 3px
			background-color: $bluecolor
			transition: .5s
		&::before
			transform: translateY(-10px)
		&::after
			transform: translateY(10px)
