
.header-top
	&__wrapper
		max-height: 80px
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		margin-top: 20px
		// background-color: #361414
		z-index: 99999
		padding: 0 15px
		@include _480
			max-height: 120px
	&__nav-btn
	&__logo
		text-align: left
	&__sellphone, &__officephone
		text-align: right
		@include _768
			display: none
	&__name
		display: block
		text-transform: uppercase
		font-size: 18px
		width: 100%
		+semibold
	&__subtitle
		display: block
		font-size: 14px
		color: $metalcolor
		+light
	&__btn
		background-color: transparent
		border: 2px solid $bluecolor
		color: $bluecolor
		text-transform: uppercase
		font-size: 14px
		padding: 15px 10px
		outline: none
		cursor: pointer
		border-radius: 4px
		transition: all .3s
		+semibold
		&:hover
			color: #fff
			background-color: $bluecolor
		@include _480
			margin-left: 50%
			margin-top: 20px
			font-size: 12px
		@include _350
			display: none

.nav-btn
	position: relative
	width: 40px
	height: 40px
	background-color: transparent
	border: none
	cursor: pointer
	outline: none
	&__span
		position: absolute
		top: 50%
		margin-top: 1.5px
		left: 50%
		margin-left: -12.5px
		width: 25px
		height: 3px
		background-color: $bluecolor
		&::before, &::after
			content: ''
			position: absolute
			top: 50%
			margin-top: -1.5px
			left: 50%
			margin-left: -12.5px
			width: 25px
			height: 3px
			background-color: $bluecolor
			transition: .5s
		&::before
			transform: translateY(-10px)
		&::after
			transform: translateY(10px)
.nav-bar
	display: none
	&__wrapper
		position: relative
	&__content
		position: absolute
		top: 20px
		left: 0
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		text-transform: uppercase
		color: #ffffff
		background-color: $bluecolor
		height: 50px
		width: 100%
		z-index: 0
		transition: all .3s
		transform: translateY(0%)
		+regular
		@include _1170
			justify-content: center
			height: 90px
		@include _530
			flex-direction: column
			align-items: center
			width: 200px
			height: 340px
		@include _480
			top: -60px
		@include _350
			top: 10px
	&__link
		font-size: 16px
		padding: px
		cursor: pointer
		transition: all 0.2s
		&:first-child
			padding-left: 5px
		&:last-child
			padding-right: 5px
		&:hover
			color: #e2e1e1
		@include _1170
			margin-right: 20px
		@include _979
			margin-top: 10px
		@include _530
			font-size: 18px
			width: 150px
			padding: 5px 0
			&:first-child
				padding-left: 0px
			&:last-child
				padding-right: 0px
	&--active
		transform: translateY(0%)
