.offer
	&__wrapper
		display: flex
		flex-direction: column
		padding: 80px 80px
		background-color: #f78a8a
	&__title
		font-size: 25px
		letter-spacing: 0.75px
		text-transform: uppercase
		margin-bottom: 30px
		+semibold
	&__subtitle
		font-size: 21px
		margin-bottom: 48px
		+light
	&__form

.form
	&__wrapper
		display: flex
		flex-wrap: wrap
		padding-right: 100px
		background-color: #c2baba
	&__item
		width: 33.3333%

	&__label
		display: block
		width: 100%
		font-size: 18px
		margin-bottom: 15px
		+light

	&__input
		width: 100%
		font-size: 15px
		height: 80px
		outline: $bluecolor
		padding-left: 7px

		+light

	&__checkboxses
		display: block
		width: 100%
