.subsection
	&__title
		font-size: 24px
		margin-top: 150px
		margin-bottom: 50px
		+semibold
	&__wrapper
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		text-align: center
	&__item
		width: 24%
		overflow: hidden
	&__img
		transition: all .5s
		&:hover
			transform: scale(1.2)
	&__name
		font-size: 20px
		margin-top: 30px
		+light
