@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

li {
  display: inline-block; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto; }

a {
  text-decoration: none;
  display: inline-block;
  color: inherit; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #f1f1f1; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"]:checked + label::before {
    background-color: #618eee; }

.btn {
  text-transform: uppercase;
  font-size: 15px;
  padding: 15px 35px;
  color: #fff;
  background-color: #618eee;
  border: 1px solid #618eee;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-family: 'Proxima Nova Semibold', sans-serif; }
  .btn:hover {
    background-color: #4872ce;
    border: 1px solid #4872ce; }

.catalog-btn {
  display: inline-block;
  color: #fff;
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #507ee18c;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.section-title {
  display: block;
  font-size: 25px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 70px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%; }

.header-top__wrapper {
  max-height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  z-index: 99999; }

.header-top__logo {
  text-align: left; }

.header-top__sellphone, .header-top__officephone {
  text-align: right; }

.header-top__name {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  width: 100%;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.header-top__subtitle {
  display: block;
  font-size: 14px;
  color: #596164;
  font-family: 'Proxima Nova Light', sans-serif;
  color: black; }

.header-top__btn {
  background-color: transparent;
  border: 2px solid #618eee;
  color: #618eee;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 10px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  font-family: 'Proxima Nova Semibold', sans-serif; }
  .header-top__btn:hover {
    color: #fff;
    background-color: #618eee; }

.nav-btn {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none; }
  .nav-btn__span {
    position: absolute;
    top: 50%;
    margin-top: 1.5px;
    left: 50%;
    margin-left: -12.5px;
    width: 25px;
    height: 3px;
    background-color: #618eee; }
    .nav-btn__span::before, .nav-btn__span::after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -1.5px;
      left: 50%;
      margin-left: -12.5px;
      width: 25px;
      height: 3px;
      background-color: #618eee;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .nav-btn__span::before {
      -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
              transform: translateY(-10px); }
    .nav-btn__span::after {
      -webkit-transform: translateY(10px);
          -ms-transform: translateY(10px);
              transform: translateY(10px); }

.nav-bar {
  display: none; }
  .nav-bar__wrapper {
    position: relative; }
  .nav-bar__content {
    position: absolute;
    top: 20px;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #618eee;
    height: 50px;
    width: 100%;
    z-index: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    font-family: 'Proxima Nova Regular', sans-serif; }
  .nav-bar__link {
    font-size: 16px;
    padding: 15px 25px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .nav-bar__link:first-child {
      padding-left: 5px; }
    .nav-bar__link:last-child {
      padding-right: 5px; }
    .nav-bar__link:hover {
      color: #e2e1e1; }
  .nav-bar--active {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%); }

.hero {
  background: url(../img/header-bg.jpg) no-repeat center 20px;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 270px; }
  .hero__title {
    padding-top: 80px;
    margin-bottom: 45px;
    font-size: 25px;
    text-transform: uppercase;
    color: #252525;
    font-family: 'Proxima Nova Regular', sans-serif; }
  .hero__span {
    display: block;
    margin-bottom: 70px;
    font-size: 30px;
    font-family: 'Proxima Nova Semibold', sans-serif; }

.offer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 75px;
  background: #fff url(../img/offer-bg.png) no-repeat right;
  margin-top: -100px;
  -webkit-box-shadow: 0px 15px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 25px 0 rgba(0, 0, 0, 0.1); }

.offer__title {
  font-size: 25px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.offer__subtitle {
  font-size: 21px;
  margin-bottom: 48px;
  font-family: 'Proxima Nova Light', sans-serif;
  color: black; }

.form__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-right: 100px; }

.form__item {
  width: 33.3333%;
  margin-bottom: 30px; }

.form__label {
  display: block;
  width: 100%;
  font-size: 18px;
  margin-bottom: 15px;
  font-family: 'Proxima Nova Light', sans-serif;
  color: black; }

.form__input {
  width: 100%;
  font-size: 15px;
  height: 80px;
  outline: #618eee;
  padding-left: 7px;
  border: 1px solid #596164;
  border-right: 0;
  font-family: 'Proxima Nova Light', sans-serif;
  color: black; }

.form__checkboxses {
  display: block;
  width: 100%; }

.form__btn {
  border-radius: 0;
  padding-left: 35px;
  color: #fff;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.last-child {
  border-right: 1px solid #596164; }

.checkboxes {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left; }
  .checkboxes__item {
    width: 150px;
    height: auto;
    position: relative; }
  .checkboxes__label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Proxima Nova Light', sans-serif;
    color: black; }
    .checkboxes__label::before {
      content: '';
      display: inline-block;
      margin-right: 20px;
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: 1px solid #dddddd; }

.features__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.features__item {
  width: 33.33333%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px; }

.features__img {
  margin-bottom: 30px; }

.features__name {
  font-size: 20px;
  text-align: center;
  font-family: 'Proxima Nova Light', sans-serif;
  color: black; }

.catalog__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.catalog__item {
  width: 50%;
  margin-bottom: 20px;
  position: relative; }

.catalog__more {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.catalog-item__name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.catalog-item__hover-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 15px; }

.catalog-item__order-btn {
  cursor: pointer;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.catalog-more__subtitle {
  font-size: 15px;
  margin-top: 18px;
  font-family: 'Proxima Nova Light', sans-serif;
  color: black; }

.subsection__title {
  font-size: 24px;
  margin-top: 150px;
  margin-bottom: 50px;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.subsection__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center; }

.subsection__name {
  font-size: 20px;
  margin-top: 30px;
  font-family: 'Proxima Nova Light', sans-serif;
  color: black; }

.prices__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.prices__item {
  width: 25%;
  margin-bottom: 10px;
  position: relative; }

.prices__hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 98%;
  z-index: 1;
  background-color: #ffffffbe;
  position: absolute;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 0; }

.prices__img {
  z-index: 0; }

.prices__subtitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 15px;
  background-color: #fff;
  margin-right: 7px;
  z-index: 2; }

.prices__item--hovered .prices__hover {
  opacity: 1; }

.prices-subtitle__name {
  font-size: 15px;
  font-family: 'Proxima Nova Light', sans-serif;
  color: black; }

.prices-subtitle__value {
  font-size: 15px;
  font-family: 'Proxima Nova Semibold', sans-serif; }
