@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

li {
  display: inline-block; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto; }

a {
  text-decoration: none;
  display: inline-block;
  color: inherit; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Light Italic';
  src: url("../fonts/ProximaNova-LightIt.eot");
  src: url("../fonts/ProximaNova-LightIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-LightIt.woff") format("woff"), url("../fonts/ProximaNova-LightIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #f1f1f1; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"]:checked + label::before {
    background-color: #618eee; }

.btn {
  text-transform: uppercase;
  font-size: 15px;
  padding: 15px 35px;
  color: #fff;
  background-color: #618eee;
  border: 1px solid #618eee;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-family: 'Proxima Nova Semibold', sans-serif; }
  .btn:hover {
    background-color: #4872ce;
    border: 1px solid #4872ce; }

.catalog-btn {
  display: inline-block;
  color: #fff;
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #507ee18c;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.section-title {
  display: block;
  font-size: 25px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 70px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif; }
  @media (max-width: 480px) {
    .section-title {
      font-size: 18px;
      margin-top: 80px; } }

.header-top__wrapper {
  max-height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  z-index: 99999;
  padding: 0 15px; }
  @media (max-width: 480px) {
    .header-top__wrapper {
      max-height: 120px; } }

.header-top__logo {
  text-align: left; }

.header-top__sellphone, .header-top__officephone {
  text-align: right; }
  @media (max-width: 768px) {
    .header-top__sellphone, .header-top__officephone {
      display: none; } }

.header-top__name {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  width: 100%;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.header-top__subtitle {
  display: block;
  font-size: 14px;
  color: #596164;
  font-family: 'Proxima Nova Light', sans-serif; }

.header-top__btn {
  background-color: transparent;
  border: 2px solid #618eee;
  color: #618eee;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 10px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  font-family: 'Proxima Nova Semibold', sans-serif; }
  .header-top__btn:hover {
    color: #fff;
    background-color: #618eee; }
  @media (max-width: 480px) {
    .header-top__btn {
      margin-left: 50%;
      margin-top: 20px;
      font-size: 12px; } }
  @media (max-width: 350px) {
    .header-top__btn {
      display: none; } }

.nav-btn {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none; }
  .nav-btn__span {
    position: absolute;
    top: 50%;
    margin-top: 1.5px;
    left: 50%;
    margin-left: -12.5px;
    width: 25px;
    height: 3px;
    background-color: #618eee; }
    .nav-btn__span::before, .nav-btn__span::after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -1.5px;
      left: 50%;
      margin-left: -12.5px;
      width: 25px;
      height: 3px;
      background-color: #618eee;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .nav-btn__span::before {
      -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
              transform: translateY(-10px); }
    .nav-btn__span::after {
      -webkit-transform: translateY(10px);
          -ms-transform: translateY(10px);
              transform: translateY(10px); }

.nav-bar {
  display: none; }
  .nav-bar__wrapper {
    position: relative; }
  .nav-bar__content {
    position: absolute;
    top: 20px;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #618eee;
    height: 50px;
    width: 100%;
    z-index: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    font-family: 'Proxima Nova Regular', sans-serif; }
    @media (max-width: 1170px) {
      .nav-bar__content {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 90px; } }
    @media (max-width: 530px) {
      .nav-bar__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 200px;
        height: 340px; } }
    @media (max-width: 480px) {
      .nav-bar__content {
        top: -60px; } }
    @media (max-width: 350px) {
      .nav-bar__content {
        top: 10px; } }
  .nav-bar__link {
    font-size: 16px;
    padding: px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .nav-bar__link:first-child {
      padding-left: 5px; }
    .nav-bar__link:last-child {
      padding-right: 5px; }
    .nav-bar__link:hover {
      color: #e2e1e1; }
    @media (max-width: 1170px) {
      .nav-bar__link {
        margin-right: 20px; } }
    @media (max-width: 979px) {
      .nav-bar__link {
        margin-top: 10px; } }
    @media (max-width: 530px) {
      .nav-bar__link {
        font-size: 18px;
        width: 150px;
        padding: 5px 0; }
        .nav-bar__link:first-child {
          padding-left: 0px; }
        .nav-bar__link:last-child {
          padding-right: 0px; } }
  .nav-bar--active {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%); }

.hero {
  background: url(../img/header-bg.jpg) no-repeat center 20px;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 270px; }
  .hero__wrapper {
    padding: 0 15px; }
  @media (max-width: 979px) {
    .hero {
      background: url(../img/header-bg.jpg) no-repeat;
      background-position: 40%; } }
  @media (max-width: 768px) {
    .hero {
      background-position: 35%; } }
  @media (max-width: 480px) {
    .hero {
      background-position: 32%; } }
  .hero__title {
    padding-top: 80px;
    margin-bottom: 45px;
    font-size: 25px;
    text-transform: uppercase;
    color: #252525;
    font-family: 'Proxima Nova Regular', sans-serif; }
    @media (max-width: 480px) {
      .hero__title {
        font-size: 18px;
        margin-bottom: 25px; } }
  .hero__span {
    display: block;
    margin-bottom: 70px;
    font-size: 30px;
    font-family: 'Proxima Nova Semibold', sans-serif; }
    @media (max-width: 480px) {
      .hero__span {
        font-size: 20px; } }

.offer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 75px;
  background: #fff url(../img/offer-bg.png) no-repeat right;
  margin-top: -100px;
  -webkit-box-shadow: 0px 15px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 25px 0 rgba(0, 0, 0, 0.1); }
  @media (max-width: 850px) {
    .offer__wrapper {
      background: #fff;
      padding: 30px 30px; } }

.offer__title {
  font-size: 25px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif; }
  @media (max-width: 480px) {
    .offer__title {
      font-size: 22px;
      text-align: center; } }

.offer__subtitle {
  font-size: 21px;
  margin-bottom: 48px;
  font-family: 'Proxima Nova Light', sans-serif; }
  @media (max-width: 768px) {
    .offer__subtitle {
      text-align: justify; } }
  @media (max-width: 480px) {
    .offer__subtitle {
      width: 300px; } }

.form__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-right: 100px; }
  @media (max-width: 850px) {
    .form__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-right: 0; } }

.form__item {
  width: 33.3333%;
  margin-bottom: 30px; }
  @media (max-width: 850px) {
    .form__item {
      width: 100%; } }

.form__label {
  display: block;
  width: 100%;
  font-size: 18px;
  margin-bottom: 15px;
  font-family: 'Proxima Nova Light', sans-serif; }

.form__input {
  width: 100%;
  font-size: 15px;
  height: 80px;
  outline: #618eee;
  padding-left: 7px;
  border: 1px solid #6770741e;
  border-right: 0;
  font-family: 'Proxima Nova Light', sans-serif; }
  @media (max-width: 850px) {
    .form__input {
      border: 1px solid #6770741e;
      height: 50px; } }

.form__checkboxses {
  display: block;
  width: 100%; }

.form__btn {
  border-radius: 0;
  padding-left: 35px;
  color: #fff;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.checkboxes {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left; }
  .checkboxes__item {
    width: 150px;
    height: auto;
    position: relative; }
  .checkboxes__label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Proxima Nova Light', sans-serif; }
    .checkboxes__label::before {
      content: '';
      display: inline-block;
      margin-right: 20px;
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: 1px solid #dddddd; }

.features__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.features__item {
  width: 33.33333%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px; }
  @media (max-width: 600px) {
    .features__item {
      width: 50%;
      margin-bottom: 50px; } }
  @media (max-width: 480px) {
    .features__item {
      width: 100%; } }

.features__img {
  margin-bottom: 30px; }

.features__name {
  font-size: 20px;
  text-align: center;
  font-family: 'Proxima Nova Light', sans-serif; }

.catalog__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .catalog__wrapper {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.catalog__item {
  width: 50%;
  margin-bottom: 20px;
  position: relative; }
  @media (max-width: 768px) {
    .catalog__item {
      width: 75%; } }

.catalog__more {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.catalog-item__name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: 'Proxima Nova Semibold', sans-serif; }
  @media (max-width: 768px) {
    .catalog-item__name {
      font-size: 12px; } }
  @media (max-width: 480px) {
    .catalog-item__name {
      font-size: 10px; } }

.catalog-item__hover-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 15px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 0; }
  @media (max-width: 480px) {
    .catalog-item__hover-btns {
      font-size: 10px; } }

.catalog-item__order-btn {
  cursor: pointer;
  border: 0;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.catalog-item__like-btn {
  cursor: pointer;
  border: 0; }

.catalog-item--hover .catalog-item__hover-btns {
  opacity: 1; }

.catalog-more__subtitle {
  font-size: 15px;
  margin-top: 18px;
  font-family: 'Proxima Nova Light', sans-serif; }

.subsection__title {
  font-size: 24px;
  margin-top: 150px;
  margin-bottom: 50px;
  padding: 0 15px;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.subsection__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 0 15px; }

.subsection__item {
  width: 24%;
  overflow: hidden; }
  @media (max-width: 768px) {
    .subsection__item {
      width: 50%;
      margin-bottom: 20px; } }
  @media (max-width: 480px) {
    .subsection__item {
      width: 100%; } }

.subsection__img {
  height: 190px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  overflow: hidden; }
  .subsection__img:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }
  @media (max-width: 979px) {
    .subsection__img {
      height: 160px; } }

.subsection__name {
  font-size: 20px;
  margin-top: 30px;
  font-family: 'Proxima Nova Light', sans-serif; }

.prices__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.prices__item {
  width: 25%;
  margin-bottom: 10px;
  position: relative; }

.prices__hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  width: 98%;
  z-index: 1;
  background-color: #ffffff;
  position: absolute;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 0; }

.prices__img {
  z-index: 0; }

.prices__subtitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 15px;
  background-color: #fff;
  margin-right: 7px;
  z-index: 2; }

.prices__item--hovered .prices__hover {
  opacity: 1; }

.prices-subtitle__name {
  font-size: 15px;
  font-family: 'Proxima Nova Regular', sans-serif; }

.prices-subtitle__value {
  font-size: 15px;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.stages__title {
  margin-bottom: 90px; }

.stages__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.stages__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative; }
  .stages__item::before {
    content: '';
    width: 97%;
    height: 2px;
    background-color: #596164;
    display: block;
    position: absolute;
    top: 32%;
    right: -53%; }
  .stages__item:last-child::before {
    display: none; }

.stages__img {
  height: 56px;
  width: 51px;
  margin: 0 auto; }

.stages__name {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.stages__text {
  font-size: 14px;
  max-width: 180px;
  font-family: 'Proxima Nova Regular', sans-serif; }

.testimonials__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
  -webkit-align-items: top;
      -ms-flex-align: top;
          align-items: top;
  text-align: center; }

.testimonials__item {
  width: 33.3333%;
  padding: 0 35px; }

.testimonials__text {
  display: block;
  font-size: 16px;
  line-height: 1.33;
  font-weight: 300;
  max-height: 200px;
  padding-bottom: 10%;
  font-family: 'Proxima Nova Light Italic', sans-serif; }

.testimonials__img {
  width: 27%;
  display: block;
  margin: 0 auto; }

.testimonials__name {
  padding-top: 10%;
  font-size: 14px;
  font-family: 'Proxima Nova Regular', sans-serif; }

.discount__wrapper {
  background: #ddd url(../img/discount.png) no-repeat right;
  background-size: contain;
  margin-top: 150px;
  padding: 60px 70px;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 25px 0 rgba(0, 0, 0, 0.1); }

.discount__title {
  font-size: 25px;
  letter-spacing: 0.75 px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.discount__subtitle {
  display: block;
  margin-top: 25px;
  font-size: 21px;
  font-weight: 300;
  max-width: 830px;
  font-family: 'Proxima Nova Regular', sans-serif; }

.discount__form {
  margin-top: 45px; }

.discount__private {
  font-size: 17px;
  margin-left: 45px;
  margin-top: 20px;
  font-family: 'Proxima Nova Regular', sans-serif; }

.manufacture__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 80px; }

.manufacture__img {
  width: 40%; }

.manufacture__text {
  text-align: justify;
  width: 50%;
  font-size: 20px;
  line-height: 1.55;
  font-family: 'Proxima Nova Regular', sans-serif; }

.contacts__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.contacts__icon {
  margin: 0 auto;
  margin-bottom: 15px; }

.contacts__text {
  font-size: 18px;
  font-family: 'Proxima Nova Regular', sans-serif; }

.contacts__map {
  overflow: hidden;
  padding-top: 45px;
  position: relative; }
  .contacts__map iframe {
    width: 100%;
    display: block;
    margin: 0 auto; }

.contacts__question {
  margin: 85px 0;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.contacts__hook {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.contacts__link {
  display: inline-block;
  margin-left: 80px;
  font-size: 24px;
  color: #fff;
  width: 450px; }

.footer {
  background: #262626;
  height: 175px; }
  .footer__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__item {
    margin-top: 40px;
    padding: 0 15px;
    width: 33.3333%;
    color: #ffffff; }

.footer-text__name {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.54px;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.footer-text__slogan {
  margin-top: 8px;
  font-size: 14px;
  font-family: 'Proxima Nova Regular', sans-serif; }

.footer-text__copyrights {
  margin-top: 40px;
  font-size: 14px;
  opacity: .5;
  font-family: 'Proxima Nova Light', sans-serif; }

.footer-partners {
  text-align: center; }
  .footer-partners__item {
    display: inline-block;
    padding: 0 10px; }

.footer-contacts {
  text-align: right; }
  .footer-contacts__number {
    font-size: 20px;
    font-family: 'Proxima Nova Semibold', sans-serif; }
  .footer-contacts__mail {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Proxima Nova Regular', sans-serif; }
  .footer-contacts__socials {
    margin-top: 10px;
    font-size: 40px; }
    .footer-contacts__socials a:hover {
      color: #618eee; }
