body
	background-color: #f1f1f1
.container
	max-width: 1170px
	margin: 0 auto
	width: 100%

input[type="checkbox"]
	display: none
	&:checked + label::before
		background-color: $bluecolor

.btn
	text-transform: uppercase
	font-size: 15px
	padding: 15px 35px
	color: #fff
	background-color: $bluecolor
	border: 1px solid $bluecolor
	outline: none
	border-radius: 0px
	cursor: pointer
	transition: all 0.2s
	+semibold
	&:hover
		background-color: $bluecolorhover
		border: 1px solid $bluecolorhover
.catalog-btn
	display: inline-block
	color: #fff
	padding: 10px
	font-size: 13px
	text-transform: uppercase
	background-color: #507ee18c
	+semibold
.section-title
	display: block
	font-size: 25px
	text-align: center
	margin-top: 150px
	margin-bottom: 70px
	text-transform: uppercase
	+semibold
	@include _480
		font-size: 18px
		margin-top: 80px
		padding: 0 10px
